<!DOCTYPE html>

<html>

  <head>
    <%= javascript_pack_tag 'my_js' %>
    <%= stylesheet_link_tag 'c03.css' %>
  </head>

  <body>
    <div id="page">
      <h2>Three Stack</h2>
      <ul>
        <li id="one" class="hot">user response #1</li>
        <li id="two" class="hot">user response #2</li>
        <li id="three" class="hot">user response #3</li>
      </ul>
      <ul>
        <li id="checkAnswer" class="belowOn">user response #1</li>

      </ul>
      <div id="left" class="boxLeft">
        Wrong
      </div>
      <div id="right" class="boxRight">
        Validate
      </div>
      <textarea name="name" rows="8" cols="80"></textarea>
    </div>

  </body>
</html>
