<!DOCTYPE html>
<html>
<body>



<script>
function colorChange() {
var button = document.getElementById('button1').style.backgroundColor;  
var color = '';

if (button !== 'green') {
    color = 'green';
    document.getElementById('button1').style.backgroundColor = color;       

    }
else if (button === 'green') {
    color = 'red';
    document.getElementById('button1').style.backgroundColor = color; 

    }
}
</script>


<h1>
  <input type="button" id="button1" class="button" onclick="colorChange()" value="Click Here" />
</h1>


</body>
</html>
