<!Doctype html>
<html>
<style>
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 75px 75px; /* Some padding */
}



/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.btn-group button:active{
  background-color: black;
}

.btn-group button:focus{
  background-color: black;
}

</style>
<body>



<div class="btn-group">
  <button>Apple</button>
  <button>Samsung</button>
  <button>Sony</button>
  <button>Sony</button>
  <button>Sony</button>
</div>



<div class="btn-group">
  <button>Apple</button>
  <button>Samsung</button>
  <button>Sony</button>
  <button>Sony</button>
  <button>Sony</button>
</div>

<div class="btn-group">
  <button>Apple</button>
  <button>Samsung</button>
  <button>Sony</button>
  <button>Sony</button>
  <button>Sony</button>
</div>

<div class="btn-group">
  <button>Apple</button>
  <button>Samsung</button>
  <button>Sony</button>
  <button>Sony</button>
  <button>Sony</button>
</div>


<div class="btn-group">
  <button>Apple</button>
  <button>Samsung</button>
  <button>Sony</button>
  <button>Sony</button>
  <button>Sony</button>
</div>

</body>
</html>
