<!DOCTYPE html>
<html>



<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


</style>

<script>

// Only 3 colours and buttons for a test.
// This list of colours
var cList = ['#f00','#4CAF50'];
// The butExtend object will become an array here
var butList = [];

// This object keeps track of the number of button clicks.
var ButExtend = function butObj(id) {
  this.count = 0;
  if (document.getElementById(id)) {
    document.getElementById(id).addEventListener('click',bClick,false);
  }
};

// Called on a button click
function bClick() {
  this.style.backgroundColor = cList[butList[this.id].count];
  butList[this.id].count++;
  if (butList[this.id].count >= cList.length) {
    butList[this.id].count = 0;
  }
}

window.onload = function() {
  // The list of id's for the buttons.
  var bId = ['b1','b2','b3'];
  for(x in bId) {
    butList[bId[x]] = new ButExtend(bId[x]);
  }
}


window.changeData= function(event) {
  event.preventDefault();

}

</script>


<body>


<button class="button" id="b1">Green</button>
<button class="button" id="b2">Green</button>
<button class="button" id="b3">Green</button>


<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>


</body>
</html>
